{% extends "layout/father.html" %}
{% block title %}Inserisci articoli{% endblock %}

{% block content %}
<div class="row p-3">
  <div class="col-md-8"><h1>Articoli del DDT n. {{ddtnum}}</h1></div>
  <div class="col-md-2">
    <a class="btn btn-success" href="{{url_for('newarticolo', ddtnum = ddtnum)}}">Nuovo articolo</a></div>
  <div class="col-md-2">
    <a class="btn btn-primary" href="{{url_for('ddt', ddtnum = ddtnum)}}">Indietro</a>
  </div>
</div>

<div class="container">

  {% for art in articles %}
  <div class="row border p-3 m-3 rounded">
    <div class="col-md-8">
      {{art}}
    </div>
    <div class="col-md-2">
      <a class="btn btn-danger" href="">Elimina</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{{url_for('articolo', ddtnum=ddtnum, artnum=art['id'])}}">Modifica</a>
    </div>
  </div>
  {% endfor %}

</div>
<div>
  {%endblock%}
