{% extends "layout/father.html" %}
{% block title %}Articoli del DDT n. {{ddtnum}} {% endblock %}

{% block bar %}
<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <a class="button is-primary is-fullwidth" href="{{url_for('newarticolo', ddtnum = ddtnum)}}">Nuovo articolo</a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a class="button is-light is-primary is-fullwidth" href="{{url_for('ddt', ddtnum = ddtnum)}}">Indietro</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block content %}
{% for art in articles %}

<div class="box">
  <div class="columns is-flex is-vcentered">
    <div class="column">
      <p><strong>Codice dell'Articolo:</strong> {{art['CEARCDPA']}}</p>
      <p><strong>Quantità:</strong> {{art['CEARQTY']}}</p> 
    </div>
    <div class="column is-one-fifth has-text-centered">
      <div class="columns">
        <div class="column">
          <a class="button is-primary" href="{{url_for('articolo', ddtnum=ddtnum, artnum=art['CEARID'])}}">Modifica</a>
        </div>
        <div class="column">
          <a class="button is-danger" href="{{url_for('delete_articolo', ddtnum=ddtnum, artnum=art['CEARID'])}}">Elimina</a>
        </div>
      </div>
    </div>
  </div>
</div>



  

{% endfor %}
{%endblock%}