{% extends "layout/father.html" %}
{% block title %} Articolo {{artnum}}, DDT n. {{ddtnum}} {%endblock%}

{% block bar %}
<a href="{{url_for('articoli', ddtnum=ddtnum)}}" class="button is-light is-primary is-fullwidth">Torna indietro</a>
{% endblock %}

{% block content %}

<noscript>
    <article class="message is-danger mb-3">
        <div class="message-header">
          <p>Javascript è disabilitato</p>
        </div>
        <div class="message-body">
            Questa pagina utilizza alcune funzioni Javascript che sono necessarie per la validazione dei moduli, pertanto è necessario attivarlo temporaneamente
            per il suo funzionamento corretto. 
            In particolare, utilizziamo una libreria Javascript chiamata JQuery per accedere più facilmente ai componenti della pagina. Se non ti fidi, 
            e vuoi controllare, puoi consultare il codice sorgente di questo sito web <a href="https://github.com/hotbrightsunshine/certificazioni-ce">a questa pagina GitHub</a>.
            Se vuoi, puoi abilitare Javascript soltanto per compilare il modulo dei materiali e delle saldature per poi disabilitarlo nuovamente.
        </div>
      </article>
</noscript>

<div class="title">Lavorazioni e controlli</div>
<div class="columns">
    <div class="column">
        <div class="box">
            <h1 class="subtitle">
                Lavorazioni
            </h1>
            <form method="POST" action="{{url_for('update_lavorazioni_articolo', ddtnum=ddtnum, artnum=artnum)}}">
                <div class="columns">

                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox" name="Punzonatura" {% if articolo['CEARPUNZ'] == 1 %} checked
                                {% endif %}>
                            Punzonatura
                        </div>
                    </div>

                    {% if can_saldatura %}
                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox" name="Saldatura" {% if articolo['CEARSALD'] == 1 %} checked
                                {% endif %} onclick="toggleHide('saldatura')" id="saldatura-checkbox">
                            Saldatura
                        </div>
                    </div>
                    {% endif %}

                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox" name="Piegatura" {% if articolo['CEARPIEG'] == 1 %} checked
                                {% endif %}>
                            Piegatura
                        </div>
                    </div>

                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox" name="Taglio" {% if articolo['CEARTAGL'] == 1 %} checked {% endif %}>
                            Taglio
                        </div>
                    </div>

                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox" name="Foratura" {% if articolo['CEARFORA'] == 1 %} checked
                                {% endif %}>
                            Foratura
                        </div>
                    </div>

                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit">Salva</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="box">
            <h1 class="subtitle">
                Controlli di fabbricazione
            </h1>
            <div class="columns">
                <div class="column">
                    <div class="checkbox">
                        <input type="checkbox" name="controlli-dimensionali" required {% if articolo['CEARCTDI'] == 1 %}
                            checked {% endif %}>
                        Controlli dimensionali
                    </div>
                </div>
                <div class="column">
                    <div class="checkbox">
                        <input type="checkbox" name="controlli-visivi" required {% if articolo['CEARCTVI'] == 1 %}
                            checked {% endif %}>
                        Controlli visivi
                    </div>
                </div>
                <div class="column">
                    <button class="is-fullwidth button is-primary" type="submit">
                        Salva
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="columns">
    {% if can_saldatura %}
    <div class="column" id="saldatura">
        <div class="box">
            <h1 class="subtitle">
                Saldatura
            </h1>
            <form method="POST" action="{{url_for('set_saldatura', artnum=artnum, ddtnum=ddtnum)}}">
                <div class="field">
                    <label for="" class="label">Saldatrice</label>
                    <div class="select is-fullwidth">
                        <select required name="equip">
                            {% for equip in equipaggiamento %}
                            <option value="{{equip['CEDVID']}}" {% if saldatura['CESADEID'] == equip['CEDVID'] %}
                                selected {%endif%}>
                                Saldatrice {{equip['CEDVMARCA']}} {{equip['CEDVMODEL']}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label">Saldatore 1</label>
                    <div class="select is-fullwidth">
                        <select name="sald1">
                            {% for sald in saldatori %}
                            <option value="{{sald['CESGID']}}" {% if saldatura['CESAS1ID'] == sald['CESGID'] %} selected
                                {%endif%}>
                                {{sald['CESGNOMI']}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label">Saldatore 2</label>
                    <div class="select is-fullwidth">
                        <select name="sald2">
                            <option value="0">Nessuno</option>
                            {% for sald in saldatori %}
                            <option value="{{sald['CESGID']}}" {% if saldatura['CESAS1ID'] == sald['CESGID'] %} selected
                                {%endif%}>
                                {{sald['CESGNOMI']}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label">WPS</label>
                    <div class="select is-fullwidth">
                        <select name="wps">
                            {% for wps in wpss %}
                            <option value="{{wps['CEWSID']}}" {% if saldatura['CESAWSID'] == wps['CEWSID'] %} selected
                                {%endif%}>
                                {{wps['CEWSNUM']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label">WPQR 1</label>
                    <div class="select is-fullwidth">
                        <select name="wpqr1">
                            {% for wpqr in wpqrs %}
                            <option value="{{wpqr['CEWRID']}}" {% if saldatura['CESAR1ID'] == wpqr['CEWRID'] %} selected
                                {%endif%}>
                                {{wpqr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label">WPQR 2</label>
                    <div class="select is-fullwidth">
                        <select name="wpqr2">
                            <option value="0">Nessuna</option>
                            {% for wpqr in wpqrs %}
                            <option value="{{wpqr['CEWRID']}}" {% if saldatura['CESAR1ID'] == wpqr['CEWRID'] %} selected
                                {%endif%}>
                                {{wpqr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="button is-primary is-fullwidth" type="submit">Salva</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>


{% if not isce %}
<div class="title">Materiali</div>
<div class="columns">
    <div class="column">
        {% if err_apporto_mancante and can_saldatura %}
        <div class="notification is-danger">
            Questo articolo è stato lavorato con saldatura, e richiede l'imissione di almeno un materiale di
            apporto; perfavore inseriscine uno. Se pensi che sia un errore, controlla i campi e correggi.
        </div>
        {% endif %}

        <div class="box">
            <h1 class="subtitle">
                Aggiungi un materiale di origine
            </h1>

            <div class="field">
                <label for="" class="label">Origine del materiale</label>
                <div class="select is-fullwidth">
                    <div id="aggiunta-materiali">
                        <select id="new-materiale">
                            <option value="certificato-collaudo">Materiale con certificato di collaudo</option>
                            <option value="conto-lavorazione">Materiale in conto lavorazione</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="form-conto-lavorazione" class="is-hidden">
                <form method="POST"
                    action="{{url_for('add_materiale_conto_lavorazione', ddtnum=ddtnum, artnum=artnum, matnum=0)}}">

                    <div class="field">
                        <label for="" class="label">Tipo di materiale</label>
                        <div class="select is-fullwidth">
                            <select name="tipoMateriale">
                                {% if can_saldatura %}
                                <option value="A">Materiale d'apporto</option>
                                {% endif %}
                                <option value="B">Materiale di base</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Codice del Componente</label>
                        <input class="input" type="text" name="codiceComponente">
                    </div>

                    <div class="field">
                        <label class="label">Numero della colata</label>
                        <input class="input" type="text" name="numeroColata" id="">
                    </div>

                    <div class="field">
                        <label class="label">Punzonatura</label>
                        <input class="input" type="text" name="punzonatura" id="">
                    </div>

                    <button type="submit" class="button is-primary is-fullwidth">Salva</button>
                </form>
            </div>

            <div id="form-certificato-collaudo" class="is-hidden">

                <form action="{{ url_for('add_materiale_collaudo', ddtnum = ddtnum, artnum= artnum, matnum=0) }}"
                    method="post">

                    <div class="field">
                        <label for="" class="label">Certificazione DOP</label>
                        <label class="checkbox">
                            <input type="checkbox" name="dop">
                            Possiedo la DOP
                        </label>
                    </div>

                    <div class="field">
                        <label for="" class="label">Tipo del materiale</label>
                        <div class="select is-fullwidth">
                            <select name="tipoMateriale2">
                                {% if can_saldatura %}
                                <option value="A">Materiale d'apporto</option>
                                {%endif%}
                                <option value="B">Materiale di base</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label for="" class="label">Certificato di collaudo</label>
                        <input type="text" class="input" name="certificatoCollaudo">
                    </div>

                    <div class="field">
                        <label for="" class="label">Data</label>
                        <input type="date" class="input" name="dataCertificato">
                    </div>

                    <div class="field">
                        <label for="" class="label">Numero della colata</label>
                        <input type="text" class="input" name="numeroColata">
                    </div>

                    <button class="button is-primary is-fullwidth" type="submit">Salva</button>

                </form>

            </div>
        </div>
    </div>
    {% if materiali|length > 0 %}
    <div class="column" id="lista-materiali">
        {% for mat in materiali %}
        <div class="box">
            {% if mat['CEORORIG'] == '1' %}
            <h2 class="subtitle">Materiale in conto lavorazione</h2>
            <div class="field">
                <p><strong>Codice componente: </strong>{{mat['CEORCDPAR']}}</p>
            </div>
            <div class="field">
                <p><strong>Punzonatura: </strong>{{mat['CEORPUNNR']}}</p>
            </div>


            {% else %}
            <h2 class="subtitle">Materiale con certificato di collaudo</h2>
            <div class="field">
                <p><strong> Certificato di collaudo: </strong>{{mat['CEORCLLNR']}}</p>
            </div>
            <div class="field">
                <p><strong>Data:</strong> {{mat['CEORCLLDT']}}</p>
            </div>

            {% endif %}
            <div class="field">
                <p><strong>Numero della colata:</strong> {{mat['CEORCOLNR']}}</p>
            </div>

            <a href="{{url_for('delete_materiale', matnum=mat['CEORID'], artnum=artnum, ddtnum=ddtnum)}}"
                class="button is-danger is-fullwidth">Elimina</a>
        </div>

        {% endfor %}
    </div>
    {% endif %}
</div>


{% else %}
<div class="title">File documentazione DOP</div>
<div class="columns">
    <div class="column">
        <div id="file-upload" class="box">
            <form method="post">
                <div class="field">
                    <label for="" class="label">File DOP</label>
                    <input type="file" name="file">

                </div>
                <button class="button is-primary" type="submit">Invia file</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

<div class="title">Ordini</div>
<div class="columns">
    <div class="column">
        {% if err_troppi_articoli %}
        <div class="notification is-danger">
            Ci sono troppi ordini per questo articolo. La quantità di tutti gli ordini
            non può superare la quantità totale dell'articolo.
        </div>
        {% endif %}
        <div class="box">
            <h1 class="subtitle">Inserisci un nuovo ordine</h1>
            <form action="{{url_for('add_order', ddtnum=ddtnum, artnum=artnum)}}" method="post">
                <div class="field">
                    <label for="" class="label">Numero dell'ordine</label>
                    <input type="text" name="numeroOrdine" class="input" required>
                </div>
                <div class="field">
                    <label for="" class="label">Data</label>
                    <input type="date" class="input" name="dataOrdine" required>
                </div>
                <div class="field">
                    <label for="" class="label">Quantità</label>
                    <input type="number" name="quantitaOrdine" min="0" max="{{max_qty}}" class="input" required>
                </div>
                <button class="button is-primary is-fullwidth" {% if err_troppi_articoli or is_difference_zero %}
                    disabled {% endif %} type="submit">Salva</button>
            </form>
        </div>
    </div>
    {% if ordini|length > 0 %}
    <div class="column" id="ordini-list">
        {% for ord in ordini %}
        <div class="box">
            <div class="field">
                <p><strong>Numero ordine: </strong>{{ord['CEOANUME']}}</p>
            </div>
            <div class="field">
                <p><strong>Data: </strong>{{ord['CEOADATA']}}</p>
            </div>
            <div class="field">
                <p><strong>Quantità: </strong>{{ord['CEOAQTY']}}</p>
            </div>
            
            <a href="{{url_for('delete_ordine', artnum=artnum, ddtnum=ddtnum, ordnum=ord['CEOAID'])}}"
                class="button is-danger">Elimina</a>
        </div>
        {%endfor%}
        
    </div>
    {% endif %}
</div>



{% endblock %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    function hideFormMateriale() {
        if ($("#new-materiale").val() == "certificato-collaudo") {
            console.log("form certificato di collaudo")
            $("#form-certificato-collaudo").removeClass("is-hidden");
            $("#form-conto-lavorazione").addClass("is-hidden");
        } else {
            console.log("form conto lavorazione")
            $("#form-certificato-collaudo").addClass("is-hidden");
            $("#form-conto-lavorazione").removeClass("is-hidden");
        }
    }

    $("#new-materiale").on("change", hideFormMateriale);

    function wipe() {
        $("#form-certificato-collaudo").addClass("is-hidden")
        $("#form-conto-lavorazione").addClass("is-hidden")
        hideFormMateriale()
        $("div.form").addClass("is-hidden")
    }

    window.onload = function () {
        if ($('#saldatura-checkbox').prop('checked')) {
            $("#saldatura").removeClass("is-hidden");

        } else {
            $("#saldatura").addClass("is-hidden");
        }

        hideFormMateriale();
        wipe();

    }

    function toggleHide(attr) {
        if ($("#" + attr).hasClass("is-hidden")) {
            $("#" + attr).removeClass("is-hidden")
        } else
            $("#" + attr).addClass("is-hidden")
    }
</script>
{% endblock %}