{% extends "layout/father.html" %}
{% block title %} DDT n. {{ddt['CEDTDDTNR']}} {% endblock%}
{% block content %}

<div class="columns">
  <div class="column">
    <div class="box">
      <table class="table is-fullwidth">
        <thead>
          <th>Campo</th>
          <th>Valore</th>
        </thead>
        <tr>
          <td>Data della Certificazione</td>
          <td>{{ddt['CEDTCEDT']}}</td>
        </tr>
        <tr>
          <td>Fornitore</td>
          <td>{{ddt['CEDTIDUS']}}</td>
        </tr>
        <tr>
          <td>Data DDT</td>
          <td>{{ddt['CEDTDDTDT']}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="column">

    <div class="columns">
      <div class="column">
        <a class="button is-danger is-fullwidth" href="">Elimina DDT</a>
      </div>
      <div class="column">
        <a class="button is-primary is-fullwidth" href="">Modifica DDT</a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a class="button is-info is-fullwidth" href="{{url_for('articoli', ddtnum=ddt['CEDTID'])}}">Aggiungi articoli</a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a class="button is-info is-fullwidth is-light" href="{{url_for('index')}}">Torna indietro</a>
      </div>
    </div>
  </div>
</div>





<div class="d-flex justify-content-around">

  


  

</div>

{% endblock %}