{% extends "layout/father.html" %}
{% block title %}Index{% endblock %}

{% block content %}
{% if login %}





<br>
<div class="row p-3">
  <div class="col-md-10 col-sm-12">
    <h1>I tuoi DDT</h1>
  </div>
  <div class="col-md-2 col-sm-12">
    <a href=" {{ url_for('newddt') }} " class="btn btn-success">Compila un nuovo DDT</a>
  </div>
</div>


<!-- DDT List-->

<div class="container">
  {% for ddt in ddtlist %}
  <div class="border p-3 row m-3 rounded">
    <div class="col-md-8 col-sm-12"> <p>{{ddt}}</p> </div>
    <div class="col-md-2 col-sm-12"><a class="btn btn-danger" href="{{url_for('removeddt', ddtnum=ddt['CEDTID'])}}">Elimina</a></div>
    <div class="col-md-2 col-sm-12"><a class="btn btn-primary" href="{{url_for('ddt', ddtnum=ddt['CEDTID'])}}">Modifica</a></div>
  </div>
  {% endfor %}
</div>
{% endif %} 
{% endblock %}
