{% extends "layout/father.html" %}
{% block title %}Esegui il login{% endblock %}

{% block content %}

<form class="box" method="POST">
  <div class="field">
    <label class="label">Codice Utente</label>
    <div class="control">
      <input class="input" type="text" placeholder="" name="username">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" name="password">
    </div>
  </div>

  <button class="button is-primary" type="submit">Login</button>
</form>




<form method="POST">
  <div class="row p-3">
    <h1>Login</h1>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Codice Utente</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Invia dati</button>

</form>
{% endblock %}
