{% extends "layout/father.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<form method="POST">
  <div class="row p-3">
    <h1>Login</h1>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Codice Utente</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Invia dati</button>
  {% if error %}
  <p style="color:red">{{ error }}</p>
  {% endif %}
</form>
{% endblock %}
