{% extends "layout/father.html" %}
{% block title %}Nuovo articolo{% endblock %}
{% block content %}

<form class="box" method="POST" action="{{url_for('articoli', ddtnum = ddtnum)}}">

  <div class="field">
    <label class="label">Codice interno</label>
    <div class="control">
      <input class="input" type="text" name="codice-interno" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Quantità</label>
    <div class="control">
      <input class="input" type="number" name="quantita" required>
    </div>
  </div>
  <button class="button is-primary" type="submit">Compila</button>
  <a href="{{url_for('articoli', ddtnum=ddtnum)}}" class="button is-primary is-light">Torna Indietro</a>
</form>

{% endblock %}
