{% extends "layout/father.html" %}
{% block content %}
<h1>Aggiungi una nuova lavorazione</h1>
<form id="form">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="Punzonatura" >
    <label class="form-check-label" for="flexCheckDefault">
      Punzonatura
    </label>
  </div>
  {% if can_saldatura %}
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="Saldatura" onclick="toggleHide('saldatura')">
    <label class="form-check-label" for="flexCheckDefault">
      Saldatura
    </label>
  </div>
  {% endif %}
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="Piegatura">
    <label class="form-check-label" for="flexCheckDefault">
      Piegatura
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="Taglio">
    <label class="form-check-label" for="flexCheckDefault">
      Taglio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="Foratura" >
    <label class="form-check-label" for="flexCheckDefault">
      Foratura
    </label>
  </div>
  
  {% if can_saldatura %}
  <div id="saldatura" class="row border m-3 p-3 form">
    <h3>Saldatura</h3>
  </div>
  {% endif %}  
</form>
{% endblock %}
{% block js %}

<script>
  function wipe(){
      $("div.form").addClass("d-none")
  }

  window.onload = wipe()

  function toggleHide(attr){
      console.log("ecco")
      if($("#"+attr).hasClass("d-none")){
          $("#"+attr).removeClass("d-none")
      }
      else
          $("#"+attr).addClass("d-none")
  }

  console.log("ciao")
</script>

{% endblock %}

